header {
  background-image: url(../images/header.jpg);
  height: 100vh;
  background-size: cover;
  background-position: center;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#logo {
  max-width: 80%
}

#start {
  color: yellow;
  text-shadow: 5px 5px black;
  font-family: VT323;
  font-size: 9vw;
}

#start:hover{
  color:#F9A825;
  text-decoration: none;
}

.blink_me {
  animation: blink-animation 1s steps(5, start) infinite;
  -webkit-animation: blink-animation 2s steps(5, start) infinite;
}
@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
@-webkit-keyframes blink-animation {
  to {
    visibility: hidden;
  }
}

.fa-chevron-circle-down {
    color: yellow;
}
.fa-chevron-circle-down:hover{
  color:#F9A825;
  text-decoration: none;
}

.stroke {
   -webkit-text-stroke: 1px black;
   color: white;
   text-shadow:
       3px 3px 0 #000,
     -1px -1px 0 #000,
      1px -1px 0 #000,
      -1px 1px 0 #000,
       1px 1px 0 #000;
}

#icons {
  text-align: center;
}
