body {
  font-family: 'Open Sans', sans-serif;
}
header {
  background-image: url(../images/header.jpg);
  height: 100vh;
  background-size: cover;
  background-position: center;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#logo {
  max-width: 80%
}

#start {
  color:white;
  text-shadow: 5px 5px black;
  font-family: VT323;
  font-size: 9vw;
}

#start:hover{
  color:yellow;
  text-decoration: none;
}

.blink_me {
  animation: blink-animation 1s steps(5, start) infinite;
  -webkit-animation: blink-animation 2s steps(5, start) infinite;
}
@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
@-webkit-keyframes blink-animation {
  to {
    visibility: hidden;
  }
}

.fa-arrow-down{
  color:white;
  text-decoration: none;
}

.fa-arrow-down:hover{
  color:yellow;
  text-decoration: none;
}

.stroke {
   -webkit-text-stroke: 1px black;
   color: white;
   text-shadow:
       3px 3px 0 #000,
     -1px -1px 0 #000,
      1px -1px 0 #000,
      -1px 1px 0 #000,
       1px 1px 0 #000;
}

.center  {
  text-align: center;
}

.spacing {
  padding: 20px 20px 20px 20px;
}

#icons, #social {
  background-color: #F06292;
  color:white;
}

#intro, #projects, footer {
  background-color: #337ab7;
  color:white;
}

.thumbnail {
  position: relative;
  width: 200px;
  height: 200px;
  overflow: hidden;
  border-color: #214b70;
  border-width: thick;
}
.thumbnail img {
  position: absolute;
  left: 50%;
  top: 50%;
  height: 100%;
  width: auto;
  -webkit-transform: translate(-50%,-50%);
      -ms-transform: translate(-50%,-50%);
          transform: translate(-50%,-50%);
}
.thumbnail img.portrait {
  width: 100%;
  height: auto;
}

.modal-dialog {
    width: 80%%;
    color:black;
}

.linky {
  color:white;
}

.linky:hover {
  color: #8dc5f5;
  text-decoration: none;
}
