body {
  background-color: black;
}

header {
  background-image: url(../images/80s.jpg);
  height: 100vh;
  background-size: cover;
  background-position: center;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#logo {
  max-width: 80%
}

#start {
  color: white;
  text-shadow: 10px 10px black;
  font-family: VT323;
  font-size: 5.9vw;
}

#start:hover{
  color:yellow;
  text-decoration: none;
}

.blink_me {
  animation: blink-animation 1s steps(5, start) infinite;
  -webkit-animation: blink-animation 2s steps(5, start) infinite;
}
@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
@-webkit-keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
